.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    width: 222px;
    height: 71px;

    border: none;
    cursor: pointer;
    
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: calc(12 / 12);
    letter-spacing: 0.2em;
    text-transform: uppercase;

    &__primary {
        color: $main-txt-cl;
        background-color: $light-bg-cl;
    }

    &__secondary {
        color: $white-txt-cl;
        background-color: $btn-bg-cl;
    }
}

.button-slider {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 53px;
    min-height: 53px;

    color: $main-txt-cl;
    background-color: $light-bg-cl;
    border: 1px solid $border-cl;

    cursor: pointer;
}

.button-review {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    width: 222px;
    height: 71px;

    border: none;

    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: calc(12 / 12);
    letter-spacing: 0.2em;
    text-transform: uppercase;

    width: 129px;
    height: 24px;

    color: $white-txt-cl;
    background-color: transparent;
}