/* fonts*/
$main-fonts: "TTHoves";

/* text-colors */
$main-txt-cl: rgba(51, 51, 51, 1);
$title-txt-cl: rgba(189, 189, 189, 1);
$black-txt-cl: rgba(0, 0, 0, 1);
$white-txt-cl: rgba(255, 255, 255, 1);
$form-txt-cl: rgba(141, 141, 141, 1);
$accent-txt-cl: rgba(195, 0, 0, 1);

/* bg-colors */
$dark-bg-cl: rgba(44, 44, 44, 1);
$light-bg-cl: rgba(255, 255, 255, 1);
$light-grey-bg-cl: rgba(251, 251, 251, 1);
$form-bg-cl: rgba(243, 243, 243, 1);
$btn-bg-cl: rgba(51, 51, 51, 1);
$image-bg-cl: rgba(51, 51, 51, 0.8);

/* other-colors */
$border-cl: rgba(242, 242, 242, 1);
$pagination-cl: rgba(224, 224, 224, 1);

/* shadow-colors */

/* animation */
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-active: all 2s;

