/* reset styles */

.link {
    text-decoration: none;
    color: currentColor;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;

    object-fit: cover;
    object-position: center;
  }
  
  input {
    padding: 0;
  }

  button {
    padding: 0;
    font-weight: inherit;
    font-size: inherit;
  }
  html,
  body {
    height: 100%;
    line-height: 1;
  }

 