.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (min-width: 767.98px) {
        justify-content: flex-end;
        flex-wrap: nowrap;
   }

    &__wrap {
        padding-left: 100px;
        background-color: $light-grey-bg-cl;
    }


    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding-top: 30px;
    }     

    &__content--img {
        transition: $animation;
    }
    
    &__content--img:hover {
        scale: 1.05;
    }
   

    &__images--left-side {
        display: flex;
        flex-direction: column;
        gap: 30px;

        margin-bottom: -30px;
    }

    &__images--right-side {
        display: flex;
        align-items: center;
    }

    &__discr {
        display: flex;
        flex-direction: column;        
        gap: 20px;

        padding-right: 70px;
    }

    &__discr--text {
        width: 400px;
        font-size: 16px;
        font-weight: 300;
        line-height: calc(25 / 16);
        color: $black-txt-cl;
    }
}

