.header {

    // for header position: fixed

    // position: fixed;
    // top: 0;
    // left: 135;
    // width: 100%;
    // z-index: 1000;
   
    height: 102px;

    display: flex;
    justify-content:space-between ;
    column-gap: 330px;
    align-items: center;


    font-weight: 400;
    font-size: 12px;
    line-height: calc(12 / 12);
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: $main-txt-cl;
    background-color: $light-bg-cl;    
}