@import "fonts";

// utils styles
@import './utils/variables';


// base styles
@import './base/common';
@import './base/reset';
@import './base/container';

// layouts styles
@import './layout/header';
@import './layout/hero';
@import './layout/about';
@import './layout/benefits';

// components styles
@import './components/nav';
@import './components/button';
@import './components/title';


// .header__icon {
//     color: $main-txt-cl;
// }
// .icon {
//     fill: currentColor;
//   }

footer {
    background-color: green;
    color: blue;
    font-size: 100px;
}

